[Unit]
Description=Look for an OSTree update

[Timer]
OnBootSec=15min
OnUnitInactiveSec=1h
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
